webdriver_manager
pip
packaging
setuptools
setuptools-scm
wheel
six
nose
ipdb
parso
jedi
idna
chardet
urllib
requests
selenium
msedge-selenium-tools
more-itertools
cssselect
pluggy
attrs
py
pytest
pytest-cov
pytest-forked
pytest-metadata
pytest-ordering
pytest-rerunfailures
pytest-xdist
parameterized
soupsieve
beautifulsoup
cryptography
pyopenssl
pygments
traitlets
prompt-toolkit
ipython
colorama
importlib-metadata
virtualenv
pymysql
coverage
brython
pyotp
boto
cffi
rich
zipp
flake
pyflakes
tornado
certifi
allure-pytest
pdfminersix
pytest-json-report
pytest-json
pytest-html-reporter
pytest-bdd
pytest-html
pytest-bdd
pytest-bdd-web
pytest-metadata
pytest-ordering