pip
packaging
setuptools
setuptools-scm
wheel
six
nose
ipdb
parso
jedi
idna
chardet
urllib3==1.2
requests
selenium
msedge-selenium-tools
more-itertools
cssselect
pluggy
attrs
py
pytest
pytest-cov
pytest-forked
pytest-html
pytest-metadata
pytest-ordering
pytest-rerunfailures
pytest-xdist;
parameterized
soupsieve
beautifulsoup4
cryptography
pyopenssl
pygments
traitlets
prompt-toolkit
ipython
colorama
importlib-metadata
virtualenv
pymysql
coverage
brython
pyotp
boto
cffi
rich
zipp
flake8
pyflakes
tornado
certifi
allure-pytest
pdfminer.six
pytest