webdriver_manager==3.2.2
pytest==6.1.1
pytest-xdist==2.1.0
parameterized==0.7.4
cryptography==3.1.1
requests==2.24.0
pytest-json-report==1.2.1
pytest-json==0.4.0
openpyxl==3.0.5
elementpath==2.0.3
pytest-html-reporter==0.2.3
pytest-bdd==4.0.1
pytest-html==2.1.1
numpy==1.19.2
selenium==3.141.0
setuptools-scm
setuptools>=44.1.1
importlib-metadata==2.0.0
colorama==0.4.4
urllib3==1.25.10
cssselect==1.1.0
